In [20]:
import pandas as pd
from math import log
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
# 수식을 이용한 tf-idf
docs = [
    '이범석 대단한 사람',
    '이승준 대단한 사람',
    '이건민 대단한 사람',
    '사과는 맛있는 과일',
]
vocab = list(set(w for doc in docs for w in doc.split()))
vocab.sort()

In [13]:
#TF, IDF, TF-IDF 계산
N = len(docs)

def tf(t, d):
    return d.count(t)

def idf(t):
    df = 0
    for doc in docs:
        df += t in doc
    return log(N/(df+1))

def tfidf(t,d):
    return tf(t,d)*idf(t)

In [14]:
result = []

for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(tf(t, d))

tf_ = pd.DataFrame(result, columns = vocab)

In [15]:
print(tf_)

   과일  대단한  맛있는  사과는  사람  이건민  이범석  이승준
0   0    1    0    0   1    0    1    0
1   0    1    0    0   1    0    0    1
2   0    1    0    0   1    1    0    0
3   1    0    1    1   0    0    0    0

In [16]:
result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))

idf_ = pd.DataFrame(result, index=vocab, columns=["IDF"])
idf_

          IDF
과일   0.693147
대단한  0.000000
맛있는  0.693147
사과는  0.693147
사람   0.000000
이건민  0.693147
이범석  0.693147
이승준  0.693147

In [17]:
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t= vocab[j]
        result[-1].append(tfidf(t,d))
    
tfidf_ = pd.DataFrame(result, columns = vocab)
tfidf_

         과일  대단한       맛있는       사과는   사람       이건민       이범석       이승준
0  0.000000  0.0  0.000000  0.000000  0.0  0.000000  0.693147  0.000000
1  0.000000  0.0  0.000000  0.000000  0.0  0.000000  0.000000  0.693147
2  0.000000  0.0  0.000000  0.000000  0.0  0.693147  0.000000  0.000000
3  0.693147  0.0  0.693147  0.693147  0.0  0.000000  0.000000  0.000000

In [23]:
#사이킷런 이용 DTM
corpus = [
    'you know I want your love',
    'I like you',
    'what should I do',
]

vector = CountVectorizer()
print(vector.fit_transform(corpus).toarray())
print(vector.vocabulary_)

[[0 1 0 1 0 1 0 1 1]
 [0 0 1 0 0 0 0 1 0]
 [1 0 0 0 1 0 1 0 0]]
{'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}

In [ ]:
#사이킷런 이용 TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer

corpus = [
    'you know I want your love',
    'I like you',
    'what should I do',
]

vector = CountVectorizer()
print(vector.fit_transform(corpus).toarray())
print(vector.vocabulary_)